<div class="container" style="margin-top: 500; width: 200px;">
    <mat-form-field appearance="outline">
        <mat-label>Decals</mat-label>
        <mat-select  [formControl]="decals" multiple>
            <mat-select-trigger>
                {{decals.value?.[0] || ''}}
                <span *ngIf="(decals.value?.length || 0) > 1" class="additional-selection">
                    (+{{(decals.value?.length || 0) - 1}} {{decals.value?.length === 2 ? 'other' : 'others'}})
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let decal of decalList" [value]="decal">{{decal}}</mat-option>
        </mat-select>
    </mat-form-field> 
</div>
