
<div class="wrapper">
  <div class="selectcontainer">
    <mat-form-field appearance="outline">
      <mat-label>Decals</mat-label>
      <mat-select [formControl]="decalList" multiple>
        <mat-select-trigger>
          {{decalList.value?.[0] || ''}}
          <span
            *ngIf="(decalList.value?.length || 0) > 1"
            class="additional-selection">
            (+{{ (decalList.value?.length || 0) - 1 }}
            {{ decalList.value?.length === 2 ? 'other' :'"others' }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let decal of decalList" [value] = "decal">{{decalList.DecalName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
