.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 200px;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}