    <br>
    <h1><strong>About</strong></h1>
    <p class="info">Hello! We are a software engineering team working 
        to help students, staff, and visitors find their 
        way around campus. For those unfamiliar with the 
        current parking structure, it becomes inconvenient 
        for them to find the next available parking spot. 
        Few resources provide users with details on 
        the parking situation and the places where they can 
        park, thus making it more difficult for every driver 
        trying to park on campus. To address this issue, we 
        have added filtering options to the map such as 
        defining the type of permit the user has, the time 
        of day when certain parking spots are available, 
        road closures, etc. </p>


