<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!--<a mat-list-item href="#" mat-raised-button  (click)= "openSettings()" routerLink="['/settings']" routerLinkActive="active">Settings</a> -->
      <a mat-list-item href="#" routerLink="['/settings']" routerLinkActive="active">Settings</a>  
      <a mat-list-item href="#" routerLink="['/account']" routerLinkActive="active">Account</a>  
      <a mat-list-item href="#" routerLink="['/schedule']" routerLinkActive="active">Schedules</a>
      <a mat-list-item href="#" routerLink="['/about']" routerLinkActive="active">About</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gator Locator</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
