<br>
<h1><strong>Schedules and Permits</strong></h1>
<h3><strong>Road Closures</strong></h3>


<div id="mymap">
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>
</div>

<br>
<h3><strong>Permit Restrictions</strong></h3>

    <ul>
        <li><strong>In effect:</strong> 7:30AM to 4:30PM, Mon-Fri </li>
        <li><strong>On Weekends:</strong> Brown and Reserved Space restrictions remain in effect. 
            All other permit restrictions, meters, and toll areas are lifted </li>
        <li><strong>On University Holidays:</strong> Gold, Silver, and Brown and reserved space 
            restrictions remain in effect. All other permit restrictions, meters, and toll areas are lifted </li>
        <li><strong>No Classes:</strong> Green, Red, Park and Ride, “Any Permit”, and Motorcycle/Scooter restrictions are lifted </li>
        <li><strong>Other Areas Enforced At All Times:</strong> carpool zones, service drives, disabled spaces, loading zones, 
            “no parking” areas, bike lanes, sidewalks, grass areas and reserved spaces </li>
        <li><strong>For Event Parking Reservations:</strong> Each attendant will be billed $39 per hour with a 3 hour minimum. 
            Attendants must submit and receive approval from TAPS prior to the event(s). To apply, click <a href="https://taps.ufl.edu/parking-info/event-parking-reservations/">here</a> </li>
    </ul>


